.appp-container {
    width: 600px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.appp {
    background-color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.appp-name {
    color: #000;
}
.see-app {
    color: #fff;
    background-image: linear-gradient(-90deg, #ff7f47 0, #ff4747 100%);
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
}
