.cart-page {
    padding-bottom: 2rem;
}
.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    column-gap: 1rem;
}
.cart-left {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart-right {
    flex: 4;
}
.cart-left-title {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    height: 120px;
}
.cart-items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}
.cart-item {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 8px;
    height: 320px;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(194, 191, 191, 0.459);
}
.cart-header-left {
    display: flex;
}
.cart-header-left a {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
}
.cart-header span {
    padding-bottom: 5px;
    font-size: 15px;
    color: #2e9cc3;
    letter-spacing: 0;
    font-weight: 600;
    cursor: pointer;
}

.cart-product {
    display: flex;
    padding-top: 1rem;
    column-gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}
.cart-product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.cart-product-infos {
}
.cart-product-infos .cart-product-title {
    max-width: 460px;
    font-size: 14px;
    color: #000;
    line-height: 1.28571;
    margin-bottom: 5px;
}
.cart-product-color span:first-child {
    color: #000;
    font-weight: 600;
}
.cart-product-price {
    font-size: 16px;
    line-height: 1.28571;
    font-weight: 800;
    color: #000;
    margin-top: 0.1rem;
}
.cart-product-discount span:first-child {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    margin-right: 0.7rem;
}
.cart-product-discount span:last-child {
    padding: 0 5px;
    background: #fff1f1;
    border-radius: 2px;
    color: #ff4747;
    font-weight: 500;
    font-size: 12px;
}
.cart-product-shipping {
    margin-top: 1rem;
    display: flex;
    font-size: 12px;
}
.shippingfreeotNot {
    margin-right: 5px;
    color: #2e9cc3;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-product-shipping span:last-child {
    color: #000;
    font-size: 12px;
}
.cart-summary {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 8px;
}
.cart-summary-title {
    font-size: 24px;
    font-weight: 700;
}
.cart-subtotal-shipping {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.cart-subtotal-shipping:nth-child(3) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1cfcf;
}
.cart-subtotal-shipping span {
    color: #000;
    font-style: 14px;
}
.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 1rem 0;
}
.cart-total span:last-child {
    margin: 0;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 700;
}
.cart-btn {
    border-style: solid;
    background-color: #ff4747;
    border-color: transparent;
    border-radius: 4px;
    padding: 0 48px;
    height: 49px;
    font-weight: 600;
    line-height: 42px;
    font-size: 16px;
    border-width: 1px;
    width: 100%;
    color: #fff;
    margin-bottom: 1rem;
}
.cart-product-operations {
    display: flex;
    flex-direction: column;
}
.cart-wishlist-delete {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.631);
    font-weight: lighter;
}
.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
}
.cart-empty-logo {
    width: 219px;
    height: 207px;
    background-image: url(//ae01.alicdn.com/kf/H54299297b1594147beb3417b5bab5eacu.png);
    background-size: contain;
}
